<h2>Log In</h2>
<%= form_for @user, :html => {:multipart => true} do |f| %>

	
	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>


  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="action"><%= f.submit "Add" %></div>
<% end %>